langchain>=0.2.0
langchain-core
langchain-community
langchain-openai
langchain-chroma
langchain-ollama
langgraph
chromadb
python-dotenv
httpx
dotenv
tf-keras
tensorflow
langchain-huggingface
huggingface-hub==0.33.0
transformers==4.52.4
flask
requests